.example-spacer {
    flex: 1 1 auto;
  }

.welcome-message{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    text-align: center;
}

table {
  margin: 0 auto;

}
th, td {
  padding: 10px;
  border: 1px solid black;
}