<mat-toolbar color="primary">
  <span class="example-spacer">Choco-Pie Factory For Admin</span>
  <div class="example-button-container">
    <mat-icon>favorite</mat-icon>
  </div>
</mat-toolbar>
<div class="content welcome-message">
  <span>Employees</span>
  <div class="table-container">
    <table mat-table [dataSource]="employees">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let employee"
          ><div>{{ employee.id }}</div></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
        <mat-cell *matCellDef="let employee"
          ><div>{{ employee.firstName }}</div></mat-cell
        >
      </ng-container>

      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
        <mat-cell *matCellDef="let employee"
          ><div>{{ employee.lastName }}</div></mat-cell
        >
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let dataSource; columns: displayedColumns"></mat-row>
    </table>
  </div>
</div>
