<mat-toolbar color="primary">
  <span class="example-spacer">Choco-Pie Factory For Admin</span>
  <div class="example-button-container">
    <mat-icon>favorite</mat-icon>
  </div>
</mat-toolbar>
<div class="content welcome-message">
  <span>Employees</span>
  <div *ngIf="employees$ | async as employees">
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.firstName }} {{ employee.lastName }}</td>
      </tr>
    </table>
  </div>
</div>
